{% extends 'clienttemplates/base.html' %}

{% load static %}

{% block content %}

<section class="p-heading text-center">
        	<div class="container">
        		<div class="page-bg">
        			<div class="row">
        				<div class="col-md-12">
        					<div class="p-content">
        						<h4>CATAGORY</h4>
        						<ul class="list-unstyled list-inline">
        							<li class="list-inline-item"><a href="{% url 'sportsnewsapp:home' %}">Home</a></li>
        							<li class="list-inline-item"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>{{category.title}}</li>
        						</ul>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

<section class="catagory">
        	<div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                    	{% for news in category.allnews.all %}
                        <div class="catagory-content">
                            <div class="cat-img">
                                <a href="#"><img src="{{news.image.url}}" alt="" class="img-fluid" style="max-width: 260px!important; "></a>
                            </div>
                            <div class="img-content">
                                <h6><a href="#">{{news.title|truncatechars:"50"}}</a></h6>
                                <ul class="list-unstyled list-inline">
                                    <li class="list-inline-item">{{news.category}}</li>
                                    <li class="list-inline-item">{{news.created_at.date}}</li>
                                </ul>
                                <p>{{news.content|safe|truncatewords:"25"}} <a class="btn btn-default"  href="{% url 'sportsnewsapp:newsdetail' news.id %}">Read More....</a></p>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="pagi">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item active"><a href="#">1</a></li>
                                <li class="list-inline-item"><a href="#">2</a></li>
                                <li class="list-inline-item"><a href="#">3</a></li>
                                <li class="list-inline-item"><a href="#">...</a></li>
                                <li class="list-inline-item"><a href="#">15</a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                  <div class="col-lg-4 col-md-12">
                <div class="add-widget">
                    <a href="#"><img src="images/add-1.png" alt="" class="img-fluid"></a>
                </div>
                <div class="tab-widget">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#m-view" role="tab">Recent News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#comment" role="tab">Comments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#catagory" role="tab">Categories</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->


                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="m-view" role="tabpanel">
                            {% for news in latestnews %}
                            <div class="m-view-content">
                            	
                                <div class="m-view-img">
                                    <a href="#"><img src="{{news.image.url}}" alt="" class="img-fluid" style="max-width: 100px!important;"></a>
                                </div>
                                <div class="img-content">
                                    <p><a href="#">{{news.title|safe|truncatewords:"8"}}</a></p>
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="comment" role="tabpanel">
                            {% for comment in comments|slice:"5" %}
                            <div class="comment-content">
                                <div class="comment-img">
                                    <a href="#"><i class="fa fa-user"></i></a>
                                </div>
                                <div class="img-content">
                                    <p><a href="#"><span>{{comment.commentername}}:<br></span>{{comment.comment|truncatechars:"50"}}</a></p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="catagory" role="tabpanel">
                            <div class="catagory-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% for category in categories %}
                                        <ul class="list-unstyled">
                                            <li><a href="#"> {{category.title}} <span>{{category.allnews.count}}</span></a></li> 
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-unstyled">
                                            <li><a href="#">Animal <span>23</span></a></li>
                                            <li><a href="#">Politics <span>27</span></a></li>
                                            <li><a href="#">Health <span>11</span></a></li>
                                            <li><a href="#">National <span>19</span></a></li>
                                            <li><a href="#">Culture <span>21</span></a></li>
                                            <li><a href="#">Music <span>23</span></a></li>
                                            <li><a href="#">Food <span>27</span></a></li>
                                            <li><a href="#">Travel <span>11</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-widget">
                    <h4>LOG IN</h4>
                    <form method="post">
                        <input type="text" name="name" placeholder="User Name" required>
                        <input type="password" name="password" placeholder="********" required>
                        <label><input type="checkbox" checked="">Remember Me</label>
                        <button type="submit"  value="submit">Log In</button>
                    </form>
                </div>
                <div class="tag-widget">
                    <h4>TAG LIST</h4>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="#">News</a></li>
                        <li class="list-inline-item"><a href="#">Article</a></li>
                        <li class="list-inline-item"><a href="#">Online</a></li>
                        <li class="list-inline-item"><a href="#">Tags</a></li>
                        <li class="list-inline-item"><a href="#">World</a></li>
                        <li class="list-inline-item"><a href="#">Google</a></li>
                        <li class="list-inline-item"><a href="#">Wordpress</a></li>
                        <li class="list-inline-item"><a href="#">National</a></li>
                        <li class="list-inline-item"><a href="#">Food</a></li>
                        <li class="list-inline-item"><a href="#">Health</a></li>
                        <li class="list-inline-item"><a href="#">News</a></li>
                        <li class="list-inline-item"><a href="#">Article</a></li>
                        <li class="list-inline-item"><a href="#">Online</a></li>
                        <li class="list-inline-item"><a href="#">Tags</a></li>
                        <li class="list-inline-item"><a href="#">World</a></li>
                        <li class="list-inline-item"><a href="#">Google</a></li>
                        <li class="list-inline-item"><a href="#">Wordpress</a></li>
                        <li class="list-inline-item"><a href="#">National</a></li>
                    </ul>
                </div>
                
            
            </div>
                </div>   
            </div>
        </section>


{% endblock %}



{% for news in category.allnews.all %}

{{news.title}}

{% endfor %}